{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block field_sets %}
{% if add %}

<fieldset class="module aligned ">
	<div class="form-row field-tag">
		<label class="required" for="tag">1) Tag:</label>
		<input type="text" name="tag" class="vTextField" maxlength="255" required="" id="tag" value="test">
	</div>
	<div class="form-row">
		<label class="required" for="id_driver_license">2) File:</label>
		<input type="file" onchange="onInputChange(this)">
	</div>
</fieldset>

<script>

	const BASE_BACKEND_URL = `${window.location.protocol}//${window.location.hostname}:${window.location.port}`;

	
	function directUploadStart({fileName, fileType, fileSize}){
		return fetch(`${BASE_BACKEND_URL}/api/file/upload/start/`, {
			method: "POST",
			headers: {
				"Content-Type": "application/json",
			},
			body: JSON.stringify({
				name: fileName,
				type: fileType,
				size: fileSize,
				tag: document.getElementById('tag').value,
			}),
		});
	}
	
	function directUploadDo(data, file){
		const formData = new FormData();
	
		for (const key in data?.fields) {
			formData.append(key, data.fields[key]);
		}
		formData.append('file', file);
	
		formData.forEach((value,key)=>console.log(key,value))
	
		return fetch(data.url, {
			method: "POST",
			headers: {
				'Access-Control-Allow-Origin': '*',
			},
			body: formData,
		});
	}
	
	function directUploadFinish(file_id){
		return fetch(`${BASE_BACKEND_URL}/api/file/upload/finish/`, {
			method: "POST",
			headers: {
				"Content-Type": "application/json",
			},
			body: JSON.stringify({
				id: file_id
			}),
		});
	};
	
	const onInputChange = (element) => {
		const file = element.files[0];
		if (file) {
			directUploadStart({
				fileName: file.name,
				fileType: file.type,
				fileSize: file.size
			})
			.then((response) => response.json())
			.then((data) => {
				directUploadDo(data, file)
					.then(() => {
						directUploadFinish(data.file.id);
					})
					.then(() => {
						console.log('File upload completed!');
						window.location.replace(`/admin/fileservice/file/${data.file.id}/change/`)
					})
			})
			.catch((error) => {
				console.log(error);
				console.log('File upload failed!');
			});
		}
	};
	
	
</script>

{% else %}
{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}
{% endif %}
{% endblock %}

{% block after_field_sets %}
{% if not add %}
<fieldset class="module aligned ">
	<div class="form-row">
		<label class="required" for="tag">Preview:</label>
		<img src="https://d245rtkoblgto6.cloudfront.net/{{original.path}}" style="width: 200px;">
	</div>
</fieldset>
{% endif %}
{% endblock %}

{% block submit_buttons_bottom %}
{% if not add %}{{ block.super }}{% endif %}
{% endblock %}